h1, h2
  color bst

h3,h4,h5,h6,input,select,textarea
  color bmt

p, div, span
  color btt

h1
  font-size 1.4em
h2
  font-size 1.2em

h3,h4,h5,h6
  font-size 1.1em

input, select, textarea
  font-size 1em