bg = #ffffff
mainbg = #e8eaf6
cblue = ( 'blue100' #c5ccae) ( 'blue400' #5c6bc0) ( 'blue500' #3f51b5) ( 'blue700' #303f9f)
cpink = ( 'pink100' #ff80ab) ( 'pink500' #ff4081) ( 'pink700' #f50057)

.bg
  background bg
.mainbg
  background mainbg

.c1
  background-image linear-gradient(rgba(255, 255, 255, .01))
.c5
  background-image linear-gradient(rgba(255, 255, 255, .05))
.c10
  background-image linear-gradient(rgba(255, 255, 255, .10))
.c15
  background-image linear-gradient(rgba(255, 255, 255, .15))
.c20
  background-image linear-gradient(rgba(255, 255, 255, .20))
.c30
  background-image linear-gradient(rgba(255, 255, 255, .30))
.c30
  background-image linear-gradient(rgba(255, 255, 255, .50))

wst = rgba(255, 255, 255, .85)
wmt = rgba(255, 255, 255, .54)
wtt = rgba(255, 255, 255, .27)

bst = rgba(0, 0, 0, .85)
bmt = rgba(0, 0, 0, .69)
btt = rgba(0, 0, 0, .54)