header
  nav
    ul
      height inherit
      line-height headerHeight
      text-align center
      padding 0
      li
        width 70px
        padding 0 10px
        cursor pointer
        color wtt
        position relative
        a
          color inherit
          text-decoration none
        &:hover
          color wmt
    .header
      display flex
      li
        &:hover
          .tree
            z-index 99
        .tree
          position absolute
          left 0
          .tree
            left 90px
            top 0